<section class="article_information">
    <h3>标题：<input ng-model="ars.title" ></h3>
    <h3>内容：</h3>
    <div class="ueditor" ng-model="ars.content"></div>
    <h3><span class="glyphicon glyphicon-edit" aria-hidden="true" ng-click="article_edit(ars.id)">修改</span></h3>
</section>
<section class="comment">
    <div style="float:left">
        <h4 class="ng-binding">{{ars.comment_count}}条评论</h4>
        <h4><a ng-click="comments_view()">浏览</a></h4>
        <p>留言：</p>
    </div>
    <div style="display:none;clear:both;" id="comments">
        <div ng-repeat="comments in coms" >
            <div>
                第{{comments.layer}}楼&nbsp;&nbsp;{{comments.name}}：{{comments.content}}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{comments.created_at}}<span style="float: right" class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="comment_delete(comments.id)"></span>
            </div>
        </div>
        <p bgf-pagination collection="coms" auto-presets="false" reload-page="reload" per-page="2"
           url="comments_url"
           template-url="paginate-anything.html"></p>
    </div>
    <div>
        <textarea class="editor ng-pristine ng-valid ng-touched" ng-init="comment.content=''" ng-model="comment.content" ng-keydown="keydown($event)" ng-hide="preview_show" aria-multiline="true" tabindex="0" aria-invalid="false"></textarea>
        <button ng_click="comment_submit()">提交</button>
    </div>
</section>
