<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" ng-app = "blog" ng-controller = "main">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>index</title>
	<meta charset="UTF-8">
    <style>
    *{
    margin:0px;
    padding:0px;
    font-size:1em;
    }
    #divLayout{
        width:95%;
        margin:0px auto;
    }
    #divTop{
        width:100%;
        height:65px;
    }
    #divMain{
        background-color:white;
        height:600px;
    }
    #divNav{
        width:220px;
        height:100px;
        float:left;
    }
    #divContent{
        margin:0px 10px;
        width:520px;
        height:100%;
        float:left;
    }
    #divSide{
        width:500px;
        height:100%;
        float:left;
    }
    #divFooter{
        width:100%;
        height:120px;
    }
    </style>
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="G:/JAVA/Blog/html/style.css">
    <script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.3.8/angular.min.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.min.js"></script>
    <script src="bower_components/select2/select2.min.js"></script>

    <script src="bower_components/ueditor/ueditor.config.js"></script>
    <script src="bower_components/ueditor/ueditor.all.min.js"></script>
    <script src="bower_components/angular-ueditor/dist/angular-ueditor.min.js"></script>

    <script src="http://cdn.bootcss.com/angular.js/1.3.8/angular-animate.min.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.3.8/angular-resource.min.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.3.8/angular-route.min.js"></script>
    <script src="bower_components/angular-paginate-anything/src/paginate-anything.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>

    
    <script type="text/javascript">
    	angular.module("blog", ["bgf.paginateAnything","ngRoute", 'ng.ueditor', 'ui.select','ngSanitize']).config(["$httpProvider", "$routeProvider", function ($httpProvider, $routeProvider)  {
    			 $httpProvider.defaults.withCredentials = true;
                 $routeProvider

                 .when('/', {
                 	templateUrl: 'blog.html',
                 	controller: 'mainCtrl'
                 })

                 .when('/login', {
                 	templateUrl: 'login.html',
                 	controller: 'loginCtrl'
                 })

                 .when('/article/:id', {
                     templateUrl: 'article.html',
                     controller: 'ArticleCtrl'
                 })

                 .when('/published', {
                     templateUrl: 'published.html',
                     controller: 'PublishedCtrl'
                 })
    	}])

    	.controller("loginCtrl",function($scope,$http, $location){
                    $scope.login_submit=function(){
                        $http.post("http://api.tavern.name/" + $scope.user.username + "/users/login" 
                                , {username: $scope.user.username, password:$scope.user.password})
                                .success(function(user){
                                    $scope.user = user;
                                    $scope.reload=true;
                                    console.log(user);
                                    $location.path('/');
                                })
                                .error(function(message){
                                    console.log(message);
                                })
                    }
        })

        .controller("PublishedCtrl",function($scope,$http,$rootScope){
                    $scope.submit=function(){
                        console.log($scope.article);
                        $scope.article_submit($scope.article);
                    }
        })

        .controller("ArticleCtrl",function($scope,$http,$routeParams,$location){
                    $scope.id=$routeParams.id;
                    $http.get("http://api.tavern.name/tavern/articles/"+ $scope.id)
                            .success(function (data) {
                                $scope.ars = data;
                                $scope.comment_reload();

                            });
                    $scope.comment_reload=function(){

                        $scope.comments_url="http://api.tavern.name/tavern/articles/" + $routeParams.id + "/comments/anything"
                    }
                    $scope.is_view=false;
                    $scope.comments_view=function() {
                        if (!$scope.is_view) {
                            $scope.is_view = !$scope.is_view;
                            $("#comments").css({display: "block"});
                        }
                        else {
                            $scope.is_view = !$scope.is_view;
                            $("#comments").css({display: "none"});
                        }
                    }
                    $scope.comment_submit=function() {
                        $http.post("http://api.tavern.name/tavern/articles/" + $scope.id + "/comments"
                                , {content: $scope.comment.content})
                                .success(function (comment) {
                                    $scope.reload=true;
                                    $scope.comment_reload();
                                    $scope.com = comment;
                                    console.log(comment);
                                })
                                .error(function (message) {
                                    console.log(message);
                                })
                    }
                    $scope.comment_delete=function(id){
                        $http.delete("http://api.tavern.name/tavern/articles/" + $scope.id + "/comments/"+id)
                                .success(function(){
                                    console.log("删除成功");
                                    $location.path("/HomePage/articles"+ $scope.id + "/comments");
                                })
                                .error(function(){
                                    console.log("删除失败");
                                })
                    }
                    $scope.article_edit=function(id){
                        $http.post("http://api.tavern.name/tavern/articles/" +id,
                                {title:$scope.ars.title,content:$scope.ars.content})
                                .success(function(ars){
                                    $scope.ars=ars;
                                    console.log("修改成功");
                                })
                                .error(function(){
                                    console.log("修改失败");
                                })
                    }
        })

        .controller("main", function ($scope, $http,$location) {
                    $http.get("http://api.tavern.name/tavern/articles/")
                            .success(function (data) {
                                $scope.ars = data;
                                console.log(data);
                            });
                    $http.get("http://api.tavern.name/tavern/users/current")
                            .success(function(user){
                                $scope.current_user=user;
                                $scope.reload=true;
                            })
                            .error(function(message){
                                console.log(message)
                            })
                    ;
                    $scope.article_submit = function (article) {
                        $http.post("http://api.tavern.name/tavern/articles",
                                {title: article.title, content:article.content, tags:article.tags})
                                .success(function (article) {
                                    $scope.reload=true;
                                    console.log(article)
                                })
                                .error(function (message) {
                                    console.log(message)
                                })
                    }
                    $scope.article_delete=function(id){
                        $http.delete("http://api.tavern.name/tavern/articles/"+id)
                                .success(function(){
                                    console.log("博文删除成功");
                                    $scope.reload=true;
                                })
                                .error(function(){
                                    console.log("博文删除失败");
                                })
                    }
                    $scope.exit=function(){
                        $http.post("http://api.tavern.name/tavern/users/logout")
                                .success(function(){
                                    console.log("用户退出成功");
                                    $scope.reload=true;
                                })
                                .error(function(){
                                    console.log("用户退出失败");
                                })
                    }
            })
	</script>
</head>
<body>
    
    <div id = "divLayout">
        <div id = "divTop">top</div>

        <div id = "divMain">

            <div id = "divNav">
                <table class="table table-hover">
                    <tr><a href="#/"><h4>首页</h4></a></tr>
                    <tr><a href="#/article"><h4>博客</h4></a></tr>
                    <tr><a href="#/published"><h4>发表文章</h4></a></tr>
                    <tr><a href="#/login"><i class="fa fa-user fa-3"></i></a></tr>
                    <tr> <button ng-click="exit()"><i class="fa fa-hand-o-right"></i></button></tr>
                </table>
            </div>

            <div id = "divContent">
                <label class="title">
                博客主页 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                欢迎：{{current_user.username}}
                </label>
                <header>
                    <h3>文章列表
                        <select style="float: right" select-init id="select1" abc="cba" ng-model="article.tags">
                            <option value="abc">abc</option>
                        </select>
                    </h3>
                </header>

                <div class="article" ng-repeat="article in ars">
                    <header>
                        <a href="#/article/{{article.id}}"><h2>{{article.title}}</h2></a>
                    </header>

                    <article ng-bind-html="article.content">
                    
                    </article>

                    <footer>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="article_delete(article.id)">删除</span>
                        <div class="nav">
                            <i class="fa fa-user fa-fw" style="margin-right: 50px">{{article.user.username}}</i>
                            <i class="fa fa-eye fa-fw">{{article.views}}</i>
                            <i class="fa fa-comment fa-fw">{{article.comment_count}}</i>
                        </div>
                    </footer>
                </div>

                <p id="na" bgf-pagination collection="ars" auto-presets="false" reload-page="reload" per-page="3"url="'http://api.tavern.name/tavern/articles/anything'" template-url="paginate-anything.html">
               </p>
            </div>

            <div id = "divSide" ng-view>
                
            </div>

        </div>

        <div id = "divFooter">
            <center>Powered by dt @ 2015-2016</center>
        </div>

    </div>

    
</body>
</html>